.container{
    margin-top: 40px;
    border: 5px;
    box-shadow: 5px 1px 5px 10px;
    background-image: url("../images/light.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 15px;
}



#title{
    padding-top: 20px;
    border-radius: 15px;
    font-family: 'Frijole', cursive; 
    font-size: 42px;
    line-height: 44px;
    font-weight: bold;
    opacity: .8;
    text-shadow: 2px 3px 5px #4d4b4b;
    color: #3b3939
}

#title2{
    font-size: 26px;
    font-weight: 300;
}

#game{
    font-size: 24px;
    font-weight: normal;
}