body{
   background-image: url("../images/milky-way.jpeg");
}

.container{
    margin-top: 2.5rem;
    border: .3125rem;
    box-shadow: .3125rem .0625rem 2.5rem .9375rem rgba(51, 58, 160, 0.438);
    background-image: url("../images/psychic_sign.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: .9375rem;
    background-position: 0% 30%;  
    
}

#title{
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    border-radius: .9375rem;
    font-family: 'Happy Monkey', cursive;
    font-size: 3.25rem;
    line-height: 3.375rem;
    font-weight: bold;
    opacity: .8;
    text-shadow:.1875rem .1875rem .5rem rgba(130, 178, 218, 0.596);
    color:#f1f5f7;
    box-shadow:inset .3125rem .0625rem 2.5rem .3125rem rgba(105, 69, 187, 0.699);
    border-color: black;
    
}

#title2{
    font-size: 1.5rem;
    font-weight: 300;
    text-shadow:.1875rem .1875rem .5rem rgba(130, 178, 218, 0.596);
}

#game{
    font-size: 1.5rem;
    font-weight: normal;
}

@media (min-width: 63rem) {
    .container{
        background-position: 0% 40%;    
    }
    
    }